/* It include Report section CSS */

.reports {
    padding: 30px;
}

.report-block {
    background-color: white;
    margin-left: 20px;
    margin-bottom: 20px;
}

.report-details {

}

.report-name {

}

.report-description {

}
