<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="card" style="width: 18rem; margin: 0 auto;">
        <div class="card-img-top">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <h4>Successful</h4>
            <h4>Transaction!</h4>
            

        </div>
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</body>
<style>
    .card {
        top: 42px;
    }

    .card-img-top {
        height: 250px;
        text-align: center;
        padding-top: 30px;

        background-image: linear-gradient(to bottom, #3d3e42, #424448, #47494f, #4b4f55, #50555c);
    }
    .fa {
        font-size: 60px;
        color: white;

    }
    h4{
        color: white;
    }
</style>

</html>