extends email-layout

block content
  p Dear Customer,
  br 
  p #{otp} is the One Time Password(OTP) for your account. OTP has also sent to your preferred mobile number registered with us.
  br
  p Regards,
  p HSA Team